* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: aqua;
}

/* .navbar-toggler {
  padding: 0;
} */

.navbar-toggler-icon {
  background-image: url("/src/assets/images/12_asadas12221.jpg") !important;
}

/* MENU */

body {
  background-color: #222327;
}

.menuSelect {
  display: flex;
  align-items: center;
  gap: 15vw;
  color: white;
}

.menu {
  position: relative;
  top: 10vh;
  left: -35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}

.menu.active {
  top: 25vh;
  left: -63vh;
}

.menu .toggle {
  position: absolute;
  min-width: 15vh;
  min-height: 15vh;
  background: #fff;
  color: #222327;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 1.5s;
}

.menu .toggle.active {
  transform: rotate(360deg);
  box-shadow: 0 0 2px 110px #fff;
  background-color: #222327;
  color: #fff;
}

.menu li {
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%) rotate(calc(360deg / 5 * var(--i)))
    translateX(110px);
  transform-origin: center;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu .rotate180 {
  transform: translate(-25%, -50%) rotate(calc(360deg / 5 * var(--i) + 180deg))
    translateX(110px);
}

/* .menu.active li {
  visibility: visible;
  opacity: 1;
} */
