/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* --- GLOBAL CSS --- */
.paragraph {
  margin-left: 3vw;
}
/* --- END GLOBAL CSS --- */

/* MENU */

body {
  background-color: #222327;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.menuSelect {
  display: flex;
  align-items: center;
  gap: 15vw;
  color: white;
}

.menu {
  position: relative;
  top: 15vh;
  left: 85vw;
  width: 1vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2.5s;
}

.menu.active {
  transform: rotate(360deg);
  top: 30vh;
  left: 7vw;
  transition: 1.5s ease-in-out;
}

.toggle {
  position: absolute;
  min-width: 18vh;
  min-height: 18vh;
  background: rgb(6, 75, 90);
  box-shadow: 0 0 30px #0a778f;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  transition: 1s;
}

.menu .toggle.active {
  transform: rotate(360deg);
  border: 5px solid rgb(6, 75, 90);
  box-shadow: 0 0 20px 115px #0a778f, inset 0 0 30px 5px black;
  background-color: #222327;
  transition: 1s;
}

.toggle.active a {
  text-decoration: none;
  color: white;
}

.toggle a {
  text-decoration: none;
  color: #222327;
  transition: 1s;
}

.menu li {
  position: absolute;
  list-style: none;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%) rotate(calc(200deg / 5 * var(--i) + 280deg))
    translateX(120px);
  transform-origin: center;
}

.menu li a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px black;
  font-weight: bold;
}

.menuName {
  color: white;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  text-align: center;
  top: -30vh;
  left: 30vw;
  width: 50vw;
  font-size: 4rem;
  text-shadow: 0 0 40px #0a778f;
  transition-duration: 1.5s;
}

.menuName-image {
  width: 20vw;
  margin-bottom: -3vh;
}

.component-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.component-enter-active {
  opacity: 1;
}

/* --- END MENU --- */

/* --- CV --- */
.cv-home-box {
  margin: 4vh 0 0;
  width: fit-content;
}

.cv-page-box {
  margin: 20vh;
}

.cv-home {
  background-color: rgb(6, 75, 90);
  border: 3px solid rgb(6, 75, 90);
  border-radius: 10px;
  max-width: 180px;
  box-shadow: inset 5px 5px 20px 3px black;
  text-align: center;
  padding: 2vh 3vh;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition-duration: 1s;
  cursor: pointer;
}

.cv-home:hover {
  border: 3px solid white;
  background-color: white;
  color: rgb(6, 75, 90);
  box-shadow: inset 5px 5px 20px 3px black;
  transition-duration: 1s;
}

.cv-page {
  padding: 2vh 3vh;
  font-size: 1.5em;
  text-shadow: 0px 5px 3px #222327;
  color: rgb(148, 223, 239);
  font-weight: 500;
  text-decoration: none;
  transition-duration: 1s;
  cursor: pointer;
}

.cv-page:hover {
  color: white;
  transition-duration: 1s;
}
/* --- END CV --- */

/* --- TITLE --- */
.title {
  color: white;
  text-shadow: 0 0 40px #0a778f;
  position: absolute;
  left: 15vw;
  top: 9vh;
}

.titleHome {
  color: rgb(6, 75, 90);
  position: absolute;
  left: 5vw;
  top: 12vh;
}

.title h1 {
  font-size: 4.5em;
  font-weight: bold;
}
/* --- END TITLE --- */
/* --- CONTENT --- */
.content {
  color: white;
  margin: 13vw 3vw 15vh;
}
/* --- END CONTENT --- */

/* --- HOME --- */
.home-content {
  font-size: 200;
  position: absolute;
  top: 30vh;
  left: 25vw;
  width: 33vw;
  color: white;
}

.home-section h1 {
  font-size: 4.5em;
  text-shadow: 0 0 40px #0a778f;
  font-weight: 900;
}

.home-section span {
  color: rgb(6, 75, 90);
  font-weight: bold;
}

.home-section p {
  font-size: 0.8em;
  margin: 0;
}

.home-contact {
  margin-top: 4vh;
  width: fit-content;
}

.home-email-box {
  text-decoration: none;
}

.home-email {
  display: flex;
  align-items: center;
  gap: 1.8vw;
  background-color: rgb(6, 75, 90);
  border: 3px solid rgb(6, 75, 90);
  border-radius: 10px;
  max-width: 180px;
  width: fit-content;
  box-shadow: inset 5px 5px 20px 3px black;
  text-align: center;
  padding: 1vh 2vh;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.home-email:hover {
  border: 3px solid white;
  transition-duration: 1s;
  background-color: white;
  color: rgb(6, 75, 90);
  box-shadow: inset 5px 5px 20px 3px black;
}

.home-email img {
  width: 2vw;
}

.home-email p {
  margin: 0;
  font-weight: 500;
}

/* --- END HOME --- */

/* --- ABOUT --- */
/* --- END ABOUT --- */

/* --- EDUCATION --- */
.educationInfo {
  margin: 0 2vw 10vh 2vw;
  width: 90vw;
}

.educationInfo-school {
  display: flex;
  align-items: baseline;
  gap: 1vw;
}

.educationInfo-date {
  font-size: 0.6em;
  margin-left: 10vw;
  color: rgb(6, 75, 90);
  font-weight: bold;
}

.education-schoolImage {
  width: 5vw;
}

.projects-separator {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(6, 75, 90);
}

.education-projects {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
}

.separator {
  margin-bottom: 4vh;
  text-align: center;
}

.vertSeparator {
  border-right: 1px solid rgb(6, 75, 90);
  padding-right: 2vw;
}

.project-link {
  cursor: pointer;
  height: 80vw;
  text-decoration: none;
  color: white;
}

.project-image {
  width: 28vw;
  margin: 3vh 0 5vh 0;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  color: rgb(6, 75, 90);
}

.project-technologies li {
  list-style: none;
  color: white;
}

.add-line {
  border-bottom: 1px solid rgb(6, 75, 90);
}

/* --- END EDUCATION --- */

/* --- EXPERIENCE --- */
.experience-box {
  margin-bottom: 10vh;
}

.experience-header {
  display: flex;
  align-items: last baseline;
  gap: 3vw;
}

.experience-company-img {
  width: 10%;
  align-self: center;
}

.experience-company-position {
  margin-bottom: 2vh;
  color: rgb(6, 75, 90);
}

.experience-company {
  display: flex;
  align-items: baseline;
  gap: 5vh;
}

.experience-date {
  font-size: 0.75em;
  margin-top: 2vh;
}

.experience-date > span {
  color: rgb(6, 75, 90);
  font-size: 0.85em;
  font-weight: bold;
}

.experience-tasks {
  margin: 5vh 0 0 3vw;
}

.experience-tasks li::marker {
  color: rgb(6, 75, 90);
}

.experience-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 300;
  gap: 0.5vw;
  margin: 2vh 0;
  color: rgb(6, 75, 90);
}

.experience-skills-name {
  color: white;
}

.experience-photo-box {
  margin: auto;
  width: 90vw;

  text-align: center;
}

.experience-company-photo {
  max-width: 25vw;
  max-height: 30vh;
  margin: 0 1vw;
  border: 0.15vw solid rgb(6, 75, 90);
  border-radius: 5px;
}

.photoButton {
  padding: 0.5vh 1vw;
  background-color: transparent;
  border: none;
  margin: 3vh 2vw 0;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 3vh #0a778f;
  transition-duration: 1s;
}

.photoButton:hover {
  color: #0a778f;
  text-shadow: 0 0 3vh grey;
  transition-duration: 1s;
}

.scrollUp-button {
  position: fixed;
  z-index: 10;
  bottom: 4.5vh;
  right: 4vw;
  height: 8vh;
  background-color: transparent;
  cursor: pointer;
}

.scrollUp-button img {
  width: 4vw;
  border: 4px solid rgb(6, 75, 90);
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgb(6, 75, 90);
}

/* --- END EXPERIENCE --- */

/* --- INTERESTS --- */

.interest {
  list-style: none;
  margin: 2vh auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 1s;
}

.interest h3 {
  font-size: 2em;
}

.interest:hover {
  color: rgb(6, 75, 90);
}

.interest img {
  width: 8vw;
  height: 8vw;
  margin: 0 10vw 0 0;
  border-radius: 50%;
}

.interest_adicionalInfo {
  margin: auto 10vw;
}

.interest_pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10vh;
  gap: 3vw;
}

.interest_pictures img {
  width: 25vw;
  box-shadow: 0 0 15px #064b5a;
}
/* --- END INTERESTS --- */

/* --- CONTACTS --- */

.contact-links {
  border: 3px solid #0a778f;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 3px #0a778f;
  border-radius: 5%;
  min-width: 20vw;
  max-width: 40vw;
  padding: 5vh;
  margin: auto;
}

.contact-links img {
  width: 5vh;
}

.contacts-links-social {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.contacts-links-social img,
.contacts-phone img {
  width: 7vh;
}

.hr {
  width: 30%;
  border: 1px solid white;
  box-shadow: 0 0 20px 10px #0a778f;
  margin: 5vh auto;
}

.contacts-phone {
  display: flex;
  align-items: center;
  margin-left: 3vw;
  gap: 2vw;
  font-size: 3vh;
}

.contacts-email {
  width: auto;
}
/* --- END CONTACTS --- */

/* --- FOOTER --- */
.footer {
  position: fixed;
  display: flex;
  gap: 10vw;
  align-items: center;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: #064b5a;
  box-shadow: 0 0 20px 3px #0a778f;
}

.footer-contacts {
  text-decoration: none;
  text-shadow: 0px 5px 3px #222327;
  color: rgb(148, 223, 239);
  font-weight: 500;
  transition-duration: 1s;
  cursor: pointer;
}

.footer-contacts:hover {
  color: white;
  font-weight: 500;
  transition-duration: 1s;
  cursor: pointer;
}
/* --- END FOOTER --- */
