/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* --- GLOBAL CSS --- */
.paragraph {
  margin-left: 3vw;
}
/* --- END GLOBAL CSS --- */

/* MENU */

body {
  background-color: #222327;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.menuSelect {
  display: flex;
  align-items: center;
  gap: 15vw;
  color: white;
}

.menu {
  position: relative;
  top: 15vh;
  left: 85vw;
  width: 1vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2.5s;
  z-index: 10;
}

.menu.active {
  transform: rotate(360deg);
  top: 30vh;
  left: 5vw;
  transition: 1.5s ease-in-out;
}

.toggle {
  position: absolute;
  min-width: 130px;
  min-height: 130px;
  background: rgb(6, 75, 90);
  box-shadow: 0 0 30px #0a778f;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  transition: 1s;
}

.menu .toggle.active {
  transform: rotate(360deg);
  border: 5px solid rgb(6, 75, 90);
  box-shadow: 0 0 20px 115px #0a778f, inset 0 0 30px 5px black;
  background-color: #222327;
  transition: 1s;
}

.toggle.active a {
  text-decoration: none;
  color: white;
}

.toggle a {
  text-decoration: none;
  color: #222327;
  transition: 1s;
}

.menu li {
  position: absolute;
  list-style: none;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%) rotate(calc(200deg / 5 * var(--i) + 280deg))
    translateX(120px);
  transform-origin: center;
}

.menu li a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px black;
  font-weight: bold;
}

.menuName {
  color: white;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  text-align: center;
  top: -19vh;
  left: 30vw;
  width: 50vw;
  font-size: 4rem;
  text-shadow: 0 0 40px #0a778f;
  transition-duration: 1.5s;
}

.menuName-image {
  width: 20vw;
  margin-bottom: -3vh;
}

.component-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.component-enter-active {
  opacity: 1;
}

/* --- END MENU --- */

/* --- CV --- */
.cv-home-box {
  margin: 4vh 0 0;
  width: fit-content;
}

.cv-page-box {
  margin: 20vh;
}

.cv-home {
  background-color: rgb(6, 75, 90);
  border: 3px solid rgb(6, 75, 90);
  border-radius: 10px;
  max-width: 180px;
  box-shadow: inset 5px 5px 20px 3px black;
  text-align: center;
  padding: 2vh 3vh;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition-duration: 1s;
  cursor: pointer;
}

.cv-home:hover {
  border: 3px solid white;
  background-color: white;
  color: rgb(6, 75, 90);
  box-shadow: inset 5px 5px 20px 3px black;
  transition-duration: 1s;
}

.cv-page {
  padding: 2vh 3vh;
  font-size: 1.5em;
  text-shadow: 0px 5px 3px #222327;
  color: rgb(148, 223, 239);
  font-weight: 500;
  text-decoration: none;
  transition-duration: 1s;
  cursor: pointer;
}

.cv-page:hover {
  color: white;
  transition-duration: 1s;
}
/* --- END CV --- */

/* --- TITLE --- */
.title {
  color: white;
  text-shadow: 0 0 40px #0a778f;
  position: absolute;
  left: 15vw;
  top: 9vh;
}

.titleHome {
  color: rgb(6, 75, 90);
  position: absolute;
  left: 5vw;
  top: 12vh;
}

.title h1 {
  font-size: 4.5em;
  font-weight: bold;
}
/* --- END TITLE --- */
/* --- CONTENT --- */
.content {
  color: white;
  margin: 15vw 3vw 15vw;
}
/* --- END CONTENT --- */

/* --- HOME --- */
.home-content {
  font-size: 200;
  position: absolute;
  top: 30vh;
  left: 25vw;
  width: 33vw;
  color: white;
}

.home-section h1 {
  font-size: 4.5em;
  text-shadow: 0 0 40px #0a778f;
  font-weight: 900;
}

.home-section span {
  color: rgb(6, 75, 90);
  font-weight: bold;
}

.home-section p {
  font-size: 0.8em;
  margin: 0;
}

.home-contact {
  margin-top: 4vh;
  width: fit-content;
}

.home-email-box {
  text-decoration: none;
}

.home-email {
  display: flex;
  align-items: center;
  gap: 1.8vw;
  background-color: rgb(6, 75, 90);
  border: 3px solid rgb(6, 75, 90);
  border-radius: 10px;
  min-width: 180px;
  width: fit-content;
  box-shadow: inset 5px 5px 20px 3px black;
  text-align: center;
  padding: 1vh 2vh;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.home-email:hover {
  border: 3px solid white;
  transition-duration: 1s;
  background-color: white;
  color: rgb(6, 75, 90);
  box-shadow: inset 5px 5px 20px 3px black;
}

.home-email img {
  width: 35px;
}

.home-email p {
  margin: 0;
  font-weight: 500;
}

/* --- END HOME --- */

/* --- PROJECTS --- */
.projects {
  text-align: center;
}

.project-box {
  display: inline-block;
  width: 40vw;
  padding: 1vh;
  margin: 3vh 2vw;
  border: 1px solid #0a778f;
  border-radius: 5px;
  text-decoration: none;
  background-color: #064b5a;
  box-shadow: 0 0 20px 3px #064b5a;
  text-align: center;
}

.project-box img {
  width: 100%;
  height: 3%;
}

.project-box h3 {
  margin: 2vh 1vh;
  text-align: left;
  color: #222327;
  font-weight: bold;
  text-shadow: 0 0 0.5vh white;
}

.tech-used {
  text-decoration: underline #222327;
  text-underline-offset: 0.5vh;
  text-align: center;
  margin: 3vh auto 0;
}

.project-box p {
  width: 80%;
  margin: 0 auto 3vh;
}

.project-box .even {
  color: #222327;
  font-weight: bold;
}

.project-box .odd {
  color: #1ea3c1;
}

.tech-link {
  text-decoration: none;
  color: #222327;
  transition-duration: 1s;
}

.tech-link:hover {
  color: white;
  transition-duration: 0.5s;
}

.tech-link:active {
  text-shadow: 0 0 10px #222327;
  transition-duration: 0s;
}

/* --- END PROJECTS --- */

/* --- EDUCATION --- */
.educationInfo {
  margin: 0 2vw 10vh 2vw;
  width: 90vw;
}

.educationInfo-school {
  display: flex;
  align-items: baseline;
  gap: 1vw;
}

.educationInfo-date {
  font-size: 0.6em;
  margin-left: 10vw;
  color: rgb(6, 75, 90);
  font-weight: bold;
}

.education-schoolImage {
  width: 5vw;
}

.projects-separator {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(6, 75, 90);
}

.education-projects {
  gap: 2vw;
  flex-wrap: wrap;
  text-align: center;
}

.education-school {
  display: inline-flex;
}

.separator {
  margin-bottom: 4vh;
  text-align: center;
  width: 28vw;
  padding: 0 4vh;
}

.separator-vert {
  width: 1px;
  border-right: 1px solid #064b5a;
  margin: 10vh 0;
}

.project-link {
  cursor: pointer;
  height: 80vw;
  text-decoration: none;
  color: white;
}

.project-image {
  min-width: 22vw;
  max-width: 24vw;
  margin: 3vh 0 5vh 0;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  color: rgb(6, 75, 90);
}

.project-technologies li {
  list-style: none;
  color: white;
}

.add-line {
  border-bottom: 1px solid rgb(6, 75, 90);
}

/* --- END EDUCATION --- */

/* --- EXPERIENCE --- */
.experience-box {
  margin: 5vh 2vh;
  cursor: pointer;
}

.experience-header {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.experience-arrow {
  width: 20px;
  rotate: 90deg;
}

.experience-company-img {
  width: 10%;
  align-self: center;
}

.experience-company-position {
  margin-bottom: 2vh;
  color: rgb(6, 75, 90);
}

.experience-company {
  display: flex;
  align-items: baseline;
  gap: 5vh;
}

.experience-date {
  font-size: 0.75em;
  margin-top: 2vh;
}

.experience-date > span {
  color: rgb(6, 75, 90);
  font-size: 0.85em;
  font-weight: bold;
}

.experience-tasks {
  margin: 5vh 0 0 3vw;
}

.experience-tasks li::marker {
  color: rgb(6, 75, 90);
}

.experience-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 300;
  gap: 0.5vw;
  margin: 2vh 0 0;
  color: rgb(6, 75, 90);
}

.experience-skills-name {
  color: white;
  font-size: 15px;
}

.experience-photo-box {
  margin: auto;
  text-align: center;
}

.experience-company-photo {
  max-width: 22vw;
  max-height: 30vh;
  margin: 0 1vw;
  border: 0.15vw solid rgb(6, 75, 90);
  border-radius: 5px;
}

.photoButton {
  padding: 0.5vh 1vw;
  background-color: transparent;
  border: none;
  margin: 0 2vw 1vh;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 3vh #0a778f;
}

.photoButton:hover {
  color: #0a778f;
  text-shadow: 0 0 3vh grey;
}

/* --- END EXPERIENCE --- */

/* --- INTERESTS --- */

.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.indInterest {
  display: block;
  margin: 8vh 6vh;
}

.interest-box {
  position: relative;
  width: 500px;
  height: 500px;
  background-position: center;
}

.interest-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 500.5px;
  height: 500.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  text-align: center;
  z-index: 1;
  opacity: 0;
  padding: 20px;
  border: 2px solid #1ea3c1;
  box-shadow: 0 0 10px #0a778f;
  transition: opacity 0.5s ease-in-out;
}

.interest-description p {
  margin: 0 0 6px;
}

.interest-textBox:hover .interest-description {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

/* --- END INTERESTS --- */

/* --- CONTACTS --- */

.contact-links {
  border: 3px solid #0a778f;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 3px #0a778f;
  border-radius: 5%;
  min-width: 20vw;
  max-width: 40vw;
  padding: 5vh;
  margin: auto;
}

.contact-links img {
  width: 5vh;
}

.contacts-links-social {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.contacts-links-social img,
.contacts-phone img {
  width: 7vh;
}

.hr {
  width: 30%;
  border: 1px solid white;
  box-shadow: 0 0 20px 10px #0a778f;
  margin: 5vh auto;
}

.contacts-phone {
  display: flex;
  align-items: center;
  margin-left: 3vw;
  gap: 2vw;
  font-size: 3vh;
}

.contacts-email {
  width: auto;
}
/* --- END CONTACTS --- */

/* --- FOOTER --- */
.footer {
  position: fixed;
  display: flex;
  gap: 10vw;
  align-items: center;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: #064b5a;
  box-shadow: 0 0 7px 3px #0a778f;
}

.footer-contacts {
  text-decoration: none;
  text-shadow: 0px 5px 3px #222327;
  color: rgb(148, 223, 239);
  font-weight: 500;
  transition-duration: 1s;
  cursor: pointer;
}

.footer-contacts:hover {
  color: white;
  font-weight: 500;
  transition-duration: 1s;
  cursor: pointer;
}

.scrollUp-button {
  position: fixed;
  z-index: 10;
  bottom: 4.2vh;
  right: 4vw;
  height: 8vh;
  background-color: transparent;
  cursor: pointer;
}

.scrollUp-button img {
  width: 4vw;
  border: 4px solid rgb(6, 75, 90);
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgb(6, 75, 90);
}
/* --- END FOOTER --- */

@media only screen and (max-width: 1100px) {
  .content {
    margin: 22vw 3vw 15vh;
  }
  /* ---  HOME --- */
  .home-content {
    min-height: 70vh;
    top: 15vh;
    left: 25vw;
    width: 33vw;
  }
  /* --- END HOME --- */

  /* --- MENU --- */
  /* --- END MENU --- */

  /* --- PROJECT --- */
  .project-box h3 {
    font-size: 24px;
  }

  .project-box p {
    font-size: 13px;
  }
  /* --- END PROJECT --- */

  /* --- FOOTER --- */
  .scrollUp-button {
    bottom: 3.3vh;
  }
  /* --- END FOOTER --- */

  .cv-page {
    font-size: 1.2em;
  }

  .tech-link {
    font-size: 14px;
  }

  .separator {
    padding: 2vh;
  }
}

@media only screen and (max-width: 981px) {
  .home-content {
    top: 15vh;
    width: 50vw;
  }

  .project-box h3 {
    font-size: 22px;
  }

  .project-box p {
    width: 90%;
  }

  .scrollUp-button {
    bottom: 3vh;
  }

  .title h1 {
    font-size: 4em;
  }

  .project-technologies {
    font-size: 12px;
  }

  .bot-separator {
    border-bottom: 1px solid #064b5a;
  }

  .education-projects {
    border-bottom: 0px;
  }

  .separator {
    margin-bottom: 4vh;
    width: 65vw;
    padding: 0 4vh 3vh 4vh;
  }

  .separator-vert {
    width: 1px;
    border-right: 0px;
    margin: 10vh 0;
  }

  .project-image {
    min-width: 46vw;
    max-width: 48vw;
  }

  .menuName {
    font-size: 3rem;
  }

  .experience-company-photo {
    max-width: 69vw;
    max-height: 50vh;
    margin: 2vh;
  }

  /*  --- INTERESTS --- */

  /*  --- END INTERESTS --- */
}

@media only screen and (max-width: 781px) {
  .content {
    margin: 22vw 3vw 15vh;
  }

  .menu {
    left: 80vw;
  }

  .home-content {
    left: 20vh;
    width: 60vw;
  }

  .title h1 {
    font-size: 3.5em;
  }

  .projects {
    text-align: center;
  }

  .project-box {
    width: 60vw;
    margin: 10vh auto 0;
  }

  .experience-tasks {
    margin: 5vh 0 2vh 3vw;
  }

  .experience-skills {
    gap: 1vw;
    margin: 0;
  }

  .experience-skills-name {
    font-size: 14px;
    margin: 0;
  }

  .scrollUp-button {
    bottom: 4vh;
  }

  .scrollUp-button img {
    width: 6vw;
  }

  .education-schoolImage {
    width: 8vw;
  }

  .experience-company-img {
    width: 15%;
  }

  .contact-links {
    max-width: 50vw;
    padding: 4vh;
    margin-top: 35vh;
  }

  .contact-links img {
    width: 5vh;
  }

  .contacts-phone {
    font-size: 2vh;
  }

  .hr {
    width: 40%;
    margin: 2vh auto;
  }
}

@media only screen and (max-width: 651px) {
  .content {
    margin: 28vw 3vw 15vh;
  }
  /* MENU */
  .menu.active {
    left: 0;
  }

  .toggle {
    min-width: 100px;
    min-height: 100px;
  }

  .menu .toggle.active {
    box-shadow: 0 0 20px 105px #0a778f, inset 0 0 30px 5px black;
  }

  .toggle a {
    font-size: 14px;
  }

  .menu li {
    transform: translate(-25%, -50%)
      rotate(calc(200deg / 5 * var(--i) + 280deg)) translateX(100px);
    transform-origin: center;
    font-size: 1em;
  }
  /* END MENU */

  .menuName {
    top: -10vh;
    left: 35vw;
    font-size: 2rem;
  }

  .project-box {
    width: 80vw;
  }

  .scrollUp-button {
    bottom: 3.3vh;
  }

  .scrollUp-button img {
    width: 7vw;
  }

  .separator {
    margin-bottom: 4vh;
    width: 85vw;
    padding: 0vh 3vh 4vh;
  }

  .project-image {
    min-width: 56vw;
    max-width: 68vw;
  }

  .experience-box {
    margin: 5vh 2vh;
  }

  /*  --- INTERESTS --- */
  .interest-box {
    width: 450px;
    height: 450px;
  }

  .interest-description {
    width: 450.5px;
    height: 450.5px;
    font-size: 12px;
  }

  .interest-description p {
    margin: 0 0 8px;
  }
  /*  --- END INTERESTS --- */

  .contact-links {
    max-width: 60vw;
    padding: 3vh;
  }

  .scrollUp-button {
    right: 6vw;
    bottom: 4.2vh;
  }

  .scrollUp-button img {
    width: 8vw;
  }

  .footer-contacts {
    font-size: 14px;
  }

  .cv-page-box {
    margin: 0;
  }

  .cv-page {
    font-size: 18px;
  }
}

@media only screen and (max-width: 551px) {
  .content {
    margin: 35vw 3vw 15vh;
  }

  .menu {
    left: 75vw;
  }

  .menu.active {
    left: 0;
  }

  .menu .toggle.active {
    box-shadow: 0 0 20px 95px #0a778f, inset 0 0 30px 5px black;
  }

  .menu .toggle.active {
    box-shadow: 0 0 20px 95px #0a778f, inset 0 0 30px 5px black;
  }

  .menu li {
    transform: translate(-25%, -50%)
      rotate(calc(200deg / 5 * var(--i) + 280deg)) translateX(95px);
    transform-origin: center;
    font-size: 0.9em;
  }

  .home-content {
    top: 20vh;
    left: 10vh;
    width: 70vw;
  }

  .home-section h1 {
    font-size: 4em;
  }

  .menuName {
    left: 40vw;
    font-size: 2rem;
  }

  .title {
    top: 11vh;
    left: 10vw;
  }

  .title h1 {
    font-size: 3em;
  }

  .education-schoolImage {
    width: 12vw;
  }

  .educationInfo-date {
    font-size: 0.9em;
  }

  /*  --- INTERESTS --- */
  .interest-box {
    width: 400px;
    height: 400px;
  }

  .interest-description {
    width: 400.5px;
    height: 400.5px;
    font-weight: 300;
    padding: 10px;
  }

  /*  --- END INTERESTS --- */

  .scrollUp-button {
    bottom: 3.5vh;
  }

  .scrollUp-button img {
    width: 9vw;
  }
}

@media only screen and (max-width: 451px) {
  .content {
    margin: 40vw 3vw 15vh;
  }

  .menu .toggle.active {
    box-shadow: 0 0 20px 90px #0a778f, inset 0 0 30px 5px black;
  }

  .menu li {
    transform: translate(-25%, -50%)
      rotate(calc(200deg / 5 * var(--i) + 280deg)) translateX(95px);
    transform-origin: center;
    font-size: 0.8em;
  }

  .home-content {
    left: 5vh;
    width: 85vw;
  }

  .menuName {
    top: 25vh;
    left: 15vw;
    width: 70vw;
  }

  .title {
    top: 9.5vh;
  }

  .title h1 {
    font-size: 2.5em;
  }

  /*  --- INTERESTS --- */
  .interest-box {
    width: 350px;
    height: 350px;
  }

  .interest-description {
    width: 350.5px;
    height: 350.5px;
    font-size: 11px;
    padding: 0;
  }

  .interest-description p {
    margin: 0;
  }

  /*  --- END INTERESTS --- */

  .contact-links {
    max-width: 80vw;
  }

  .scrollUp-button {
    bottom: 4vh;
  }

  .scrollUp-button img {
    width: 10vw;
  }

  .home-email p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 401px) {
  .scrollUp-button {
    bottom: 3vh;
    right: 4vw;
  }

  .scrollUp-button img {
    width: 11vw;
  }
}

@media only screen and (max-width: 376px) {
  .home-content {
    top: 15vh;
    left: 3vh;
    width: 90vw;
  }

  .home-section h1 {
    font-size: 3.5em;
  }

  .menuName {
    left: 5vw;
    width: 90vw;
  }

  .title {
    left: 5vw;
  }

  .title h1 {
    font-size: 2.7em;
  }

  .separator {
    width: 90vw;
    padding: 0 0 2vh 0;
  }

  .project-image {
    min-width: 76vw;
    max-width: 88vw;
  }

  .contact-links {
    max-width: 80vw;
  }

  .contacts-links-social img {
    width: 5vh;
  }

  .home-email img {
    width: 7vw;
  }

  .home-email p {
    font-size: 12px;
  }

  .scrollUp-button {
    bottom: 3.5vh;
  }

  .scrollUp-button img {
    width: 12vw;
  }

  .footer {
    gap: 0vw;
  }
}

@media only screen and (max-width: 361px) {
  .content {
    margin: 53vw 3vw 15vh;
  }

  .home-content {
    top: 22vh;
    left: 2vh;
    width: 93vw;
  }

  .menu .toggle.active {
    box-shadow: 0 0 20px 80px #0a778f, inset 0 0 30px 5px black;
  }

  .menu li {
    transform: translate(-25%, -50%)
      rotate(calc(200deg / 5 * var(--i) + 280deg)) translateX(75px);
    transform-origin: center;
    font-size: 0.7em;
  }
  .toggle {
    min-width: 70px;
    min-height: 70px;
  }

  .toggle a {
    font-size: 8px;
  }

  .menu {
    left: 72vw;
  }
  .home-section h1 {
    font-size: 4em;
  }

  .home-section p {
    font-size: 14px;
  }

  .title {
    top: 11vh;
  }

  .title h1 {
    font-size: 2.4em;
  }

  .project-box {
    margin: 3vh 0vw;
  }

  .separator {
    width: 90vw;
    padding: 0 0 2vh 0;
  }

  .project-image {
    min-width: 76vw;
    max-width: 88vw;
  }

  .contact-links {
    max-width: 80vw;
  }

  .contacts-links-social img {
    width: 5vh;
  }

  .home-email img {
    width: 7vw;
  }

  .home-email p {
    font-size: 12px;
  }

  .scrollUp-button {
    bottom: 3.2vh;
  }

  .scrollUp-button img {
    width: 13vw;
  }

  .footer {
    gap: 0vw;
  }
}

@media only screen and (max-width: 321px) {
  .title {
    top: 11vh;
  }

  .title h1 {
    font-size: 2.1em;
  }
}

@media only screen and (max-width: 281px) {
  .title {
    top: 15vh;
  }

  .title h1 {
    font-size: 1.8em;
  }
}
/* END CSS */
